.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warm-pink-text-color);
    height: 8rem;
  }
  
  .amara-logo {
    width: 18rem;
    height: auto;
    object-fit: contain;
  }
  