.title-container{
    text-align: center;
    padding: 2rem;
}
.title-text{
    font-size: 3rem;
    font-family: var(--special-font-family);
    font-weight: 400;
    margin-bottom: 2rem;
}
.subtitle-text{
    font-size: 1.8rem;
    color: var(--dark-grey-text-color);
}
