.exploreButton, .exploreButton.visited {
    background-color: var(--burgundy-text-color);
    border: 1px solid transparent;
    color: var(--white-text-color);
    padding: 1.2rem 3rem;
    font-size: 2rem;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .exploreButton:hover {
    letter-spacing: .4rem;
    background-color: transparent;
    border: 1px solid var(--burgundy-text-color);
  }

  @media screen and (min-width: 768px){
    .exploreButton, .exploreButton.visited {
      padding: 1.2rem 6rem;
    }
  }